*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Syne Mono', monospace;

}

img {
    width: 100%;
}
.logo{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#img1{
    width: 10%;
    margin-right: 20px;
}

#cajainput_grande{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 20px;
}
#cajainput{
    width: 100%;
    padding-left: 10%;
}
#cajainput_transparencia {
    display: flex;
    flex: row;
    width: 100%;
    height: 50%;
    padding-top: 0px;

}
#transparencia1{
    opacity: 1;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#transparencia15{
    opacity: 0.95;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia2{
    opacity: 0.9;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia25{
    opacity: 0.85;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia3{
    opacity: 0.8;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia35{
    opacity: 0.75;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia4{
    opacity: 0.7;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia45{
    opacity: 0.65;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia5{
    opacity: 0.6;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia55{
    opacity: 0.55;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia6{
    opacity: 0.5;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia65{
    opacity: 0.45;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia7{
    opacity: 0.4;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia75{
    opacity: 0.35;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia8{
    opacity: 0.3;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia85{
    opacity: 0.25;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia9{
    opacity: 0.2;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}

#transparencia10{
    opacity: 0.15;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia11{
    opacity: 0.1;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
}
#transparencia12{
    opacity: 0.05;
    width: 10%;
    height: 100%;
    background-color:#3e8bca;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
#input{
    width: 80%;
    height: 20%;
    border-radius: 20px;
}

#boton_busqueda img{
    padding-top: 3px;
    height: 18px;
}

.menu{
    background-color: black;
    width: 100%;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.flecha_item{
    color:#3e8bca ;
    font-weight: bolder;
}

#filtro_busqueda{
    width: 100%;
}



#caja_pie{
    width: 100%;
}

#caja_texto_pie{
    background-color: #3e8bca;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.columna{
    width: 100%
}
.columna_pie{
    width: 15%;
    background-color: black;
    
}


.pie_columna_item{
    padding-top: 7px;
    padding-bottom: 7px;
    color: yellow;
    background-color: black;
}


.centrado{

    text-align: center;

}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-column{   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.flex-column-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}




